<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bireysel Kütüphane</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/breadcrumb.css">
<link rel="stylesheet" type="text/css"
	href="css/angular-datepicker.min.css">
</head>
<body ng-app="AuthenticationApplication">

	<div class="container" ng-controller="AuthenticationCtrl">

		<div class="container">
			<div class="row header_bottom_padding">
				<div class="col-xs-12"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<hr>
			</div>
		</div>

		<div class="header_bottom_padding_large"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Giriş Paneli</h3>
						</div>
						<div class="panel-body">
							<form accept-charset="UTF-8" role="form" ng-submit="login()">
								<fieldset>
									<div class="form-group">
										<input class="form-control" placeholder="Kullanıcı adınız ..."
											ng-model="username" name="username" type="text">
									</div>
									<div class="form-group" ng-show="usernameWarningVisibility">
										<p class="text-danger">Kullanıcı adınızı giriniz.</p>
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="Şifreniz ..."
											ng-model="password" name="password" type="password" value="">
									</div>
									<div class="form-group" ng-show="passwordWarningVisibility">
										<p class="text-danger">Şifrenizi giriniz.</p>
									</div>
									<div class="form-group"
										ng-show="unsuccessfullAuthenticationWarningVisibility">
										<p class="text-danger">Kullanıcı adınız veya şifreniz
											yanlış.</p>
									</div>
									
									<!--  
										<div class="checkbox">
											<label> <input name="remember" type="checkbox"
												value="rememberMe"> Beni hatırla
											</label>
										</div>
									-->
									
									<button type="submit" class="btn btn-lg btn-success btn-block">Giriş Yap</button>
								</fieldset>
							</form>
							
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-11">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="col-md-8"></div>
					<div class="col-md-4">
						<p class="muted pull-right">2018 Bilgisayar Mühendisleri Odası</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="js/angular.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
	<script src="js/login.js"></script>

</body>
</html>